[submodule "vim-pathogen"]
	path = vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/bufexplorer.zip"]
	path = bundle/bufexplorer.zip
	url = https://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/jshint.vim"]
	path = bundle/jshint.vim
	url = https://github.com/walm/jshint.vim.git
[submodule "bundle/The-NERD-Commenter"]
	path = bundle/The-NERD-Commenter
	url = https://github.com/vim-scripts/The-NERD-Commenter.git
[submodule "bundle/The-NERD-tree"]
	path = bundle/The-NERD-tree
	url = https://github.com/vim-scripts/The-NERD-tree.git
[submodule "bundle/ctags.vim"]
	path = bundle/ctags.vim
	url = https://github.com/vim-scripts/ctags.vim.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = https://github.com/mhz/vim-matchit.git
[submodule "bundle/vim-gnupg"]
	path = bundle/vim-gnupg
	url = http://github.com/robertkrimen/vim-gnupg.git
[submodule "bundle/git-wip"]
	path = bundle/git-wip
	url = http://github.com/robertkrimen/git-wip.git
